<!DOCTYPE html>
<html>
  <head>
    <title>Simple EJS Website</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  </head>
  <body>
    <h1>Welcome to our Simple EJS Website!</h1>
    <p><%= message %></p>
  </body>
</html>
